image: python:latest

variables:
    URL : "https://www.hakalab.com/hakatools/"
    TIME_IMPLICITY : "10"
    EXECUTION_TYPE: "hub"
    EXECUTION_PARALLEL: "true"
    WIDTH_RESOLUTION: "1300"
    HEIGHT_RESOLUTION: "900"
    RELOADBROWSER: "false"
    USER_SAUCELAB: ""
    TOKEN_SAUCELAB: ""
    HOST_SAUCELAB: ""
    BROWSER_VERSION_SELENIUM: ""
    PLATFORM_NAME_SELENIUM: ""
    EXECUTE_ALLURE: "true"
    SAVE_REPORT_ALLURE: "false"
    CLEAN_EXTRAS_REPORT_ALLURE: "true"
    EXECUTE_RERUN: "false"
    COUNT: "0"
    REPEAT: "2"
    FAILED_SCENARIO_ARRAY: "[]"

stages:
  - test

test.chrome:
  stage: test
  variables:
    BROWSER: "chrome"
    SELENIUM_HUB_IP : "selenium__standalone-chrome"
  services:
    - name: selenium/standalone-chrome:latest
  before_script:
    - apt -y update
    - apt -y upgrade
    - apt-get -y install default-jre
    - apt -y install wget
    - pip install --upgrade pip
    - pip install -r requirements.txt
  script:
    - cd helper/vendor
    - wget https://repo.maven.apache.org/maven2/io/qameta/allure/allure-commandline/2.13.6/allure-commandline-2.13.6.zip
    - unzip allure-commandline-2.13.6.zip
    - rm allure-commandline-2.13.6.zip
    - cd ../../
    - python executions.py -e parallel
    - mv ./report ./report_chrome
#  retry:
#    max: 2
#    when:
#      - runner_system_failure
#      - stuck_or_timeout_failure
  artifacts:
    expire_in: 1 hrs
    when: always
    paths:
      - report_chrome/
  only:
    - main

test.firefox:
  stage: test
  variables:
    BROWSER: "firefox"
    SELENIUM_HUB_IP : "selenium__standalone-firefox"
  services:
    - name: selenium/standalone-firefox:latest
  before_script:
    - apt -y update
    - apt -y upgrade
    - apt-get -y install default-jre
    - apt -y install wget
    - pip install --upgrade pip
    - pip install -r requirements.txt
  script:
    - cd helper/vendor
    - wget https://repo.maven.apache.org/maven2/io/qameta/allure/allure-commandline/2.13.6/allure-commandline-2.13.6.zip
    - unzip allure-commandline-2.13.6.zip
    - rm allure-commandline-2.13.6.zip
    - cd ../../
    - python executions.py -e parallel
    - mv ./report ./report_firefox
#  retry:
#    max: 2
#    when:
#      - runner_system_failure
#      - stuck_or_timeout_failure
  artifacts:
    expire_in: 1 hrs
    when: always
    paths:
      - report_firefox/
  only:
    - main

test.edge:
  stage: test
  variables:
    BROWSER: "edge"
    SELENIUM_HUB_IP : "selenium__standalone-edge"
  services:
    - name: selenium/standalone-edge:latest
  before_script:
    - apt -y update
    - apt -y upgrade
    - apt-get -y install default-jre
    - apt -y install wget
    - pip install --upgrade pip
    - pip install -r requirements.txt
  script:
    - cd helper/vendor
    - wget https://repo.maven.apache.org/maven2/io/qameta/allure/allure-commandline/2.13.6/allure-commandline-2.13.6.zip
    - unzip allure-commandline-2.13.6.zip
    - rm allure-commandline-2.13.6.zip
    - cd ../../
    - python executions.py -e parallel
    - mv ./report ./report_edge
#  retry:
#    max: 2
#    when:
#      - runner_system_failure
#      - stuck_or_timeout_failure
  artifacts:
    expire_in: 1 hrs
    when: always
    paths:
      - report_edge/
  only:
    - main